<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="news-container" id="news">
      <div class="news-box max-center">
        <div class="left-layout">
          <div class="news-img-container swiper-container">
            <ul class="news-list swiper-wrapper">
              <li class="news-item swiper-slide">
                <a href="[list:outlink]">
                  <img src="/public/images/news-01.jpg" alt="留学梦 报国志 平安行">
                  <div class="title">留学梦 报国志 平安行</div>
                </a>
              </li>
              <li class="news-item swiper-slide">
                <a href="[list:outlink]">
                  <img src="/public/images/news-01.jpg" alt="留学梦 报国志 平安行">
                  <div class="title">留学梦 报国志 平安行</div>
                </a>
              </li>
              <li class="news-item swiper-slide">
                <a href="[list:outlink]">
                  <img src="/public/images/news-01.jpg" alt="留学梦 报国志 平安行">
                  <div class="title">留学梦 报国志 平安行</div>
                </a>
              </li>
            </ul>
            <div class="news-swiper-pagination swiper-pagination"></div>
          </div>
        </div>
        <div class="right-layout">
          <div class="title-box">
            <div class="title">要点新闻</div>
          </div>
          <div class="news-list">
            <a href="[list:outlink]" class="news-item">2012年以来我国各类出国留学人员超八成回国发展</a>
            <a href="[list:outlink]" class="news-item">浙江衢州归国留学人员爱国奋斗报告会举办</a>
            <a href="[list:outlink]" class="news-item">浙江嘉善:赋能“双示范”建设，绘就留学报国“同心圆”</a>
            <a href="[list:outlink]" class="news-item">丁仲礼出席“纪念中国公派留学英国50周年论坛”</a>
            <a href="[list:outlink]" class="news-item">中国驻法使馆举办“留学美丽中国，共促文明互鉴”联谊招待会</a>
            <a href="[list:outlink]" class="news-item">“新中国北大来华留学教育70周年”纪念活动在京举行</a>
            <a href="[list:outlink]" class="news-item">“新中国北大来华留学教育70周年”纪念活动在京举行</a>
            <a href="[list:outlink]" class="news-item">“新中国北大来华留学教育70周年”纪念活动在京举行</a>
            <a href="[list:outlink]" class="news-item">“新中国北大来华留学教育70周年”纪念活动在京举行</a>
            <a href="[list:outlink]" class="news-item">“新中国北大来华留学教育70周年”纪念活动在京举行</a>
          </div>
        </div>
      </div>
    </section>
    <section class="baoguo-container" id="baoguo" style="background-image: url(/public/images/bg-baoguozhi.jpg);">
      <div class="baoguo-box max-center">
        <div class="title-module">
          <img src="/public/images/title-baoguo.png" alt="报国志">
        </div>
        <div class="baoguo-swiper swiper-container">
          <ul class="baoguo-list swiper-wrapper">
            <li class="baoguo-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/baoguo-02.jpg" alt="西南交通大学：灌输文化尚交通">
              <div class="title">西南交通大学：灌输文化尚交通</div>
            </li>
            <li class="baoguo-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/baoguo-01.jpg" alt="上海工程技术大学：怀梦初心 不负韶华">
              <div class="title">上海工程技术大学：怀梦初心 不负韶华</div>
            </li>
            <li class="baoguo-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/baoguo-03.jpg" alt="华中农业大学：牧医赤子心中装的永远是国">
              <div class="title">华中农业大学：牧医赤子心中装的永远是国</div>
            </li>
            <li class="baoguo-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/baoguo-01.jpg" alt="上海工程技术大学：怀梦初心 不负韶华">
              <div class="title">上海工程技术大学：怀梦初心 不负韶华</div>
            </li>
            <li class="baoguo-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/baoguo-01.jpg" alt="上海工程技术大学：怀梦初心 不负韶华">
              <div class="title">上海工程技术大学：怀梦初心 不负韶华</div>
            </li>
          </ul>
          <div class="baoguo-swiper-pagination swiper-pagination"></div>
          <div class="baoguo-button-prev swiper-button-prev"></div>
          <div class="baoguo-button-next swiper-button-next"></div>
        </div>
      </div>
    </section>
    <section class="adv-container">
      <a href="#外链跳转">
        <img src="/public/images/adv1.jpg" alt="弘扬科学家精动传示 留学报国传说">
      </a>
    </section>
    <!-- <section class="liuxue-container" id="liuxue">
      <div class="liuxue-box max-center">
        <div class="title-module">
          <img src="/public/images/title-liuxue.png" alt="留学梦">
        </div>
        <div class="liuxue-cont">
          <ul class="liuxue-list">
            <li class="liuxue-item">
              <div class="left-layout">
                <a class="liuxue" @click="videoOpen(item.video)" v-for="(item, index) in newLiuxueList[liuxueIndex][0]"
                  :key="item.id">
                  <img :src="item.ico" :alt="item.title">
                  <div class="title">{{item.title}}</div>
                </a>
              </div>
              <div class="right-layout">
                <a class="liuxue" @click="videoOpen(item.video)" v-for="(item, index) in newLiuxueList[liuxueIndex][1]"
                  :key="item.id">
                  <img :src="item.ico" :alt="item.title">
                  <div class="title">{{item.title}}</div>
                </a>
              </div>
            </li>
          </ul>
          <div class="pagination">
            <a class="page-num" :class="{on:i === liuxueIndex}" v-for="(num, i) in limit" :key="num"
              @click="changeIndex(i)"></a>
          </div>
        </div>
      </div>
      <img src="/public/images/bg-liuxue-left.png" class="bg-img bg-left">
      <img src="/public/images/bg-liuxue-right.png" class="bg-img bg-right">
    </section> -->
    <section class="liuxue-container" id="liuxue">
      <div class="liuxue-box max-center">
        <div class="title-module">
          <img src="/public/images/title-liuxue.png" alt="留学梦">
        </div>
        <div class="liuxue-cont">
          <ul class="liuxue-list">
            <li class="liuxue-item">
              <div class="left-layout">
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-01.jpg" alt="2022留学生网络春晚">
                  <div class="title">2022留学生网络春晚</div>
                </a>
              </div>
              <div class="right-layout">
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-02.jpg" alt="留学迹路微视频大赛优秀作品">
                  <div class="title">留学迹路微视频大赛优秀作品</div>
                </a>
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-03.jpg" alt="留学迹路：巴黎碎影">
                  <div class="title">留学迹路：巴黎碎影</div>
                </a>
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-04.jpg" alt="留学迹路：马德里·熙遇记">
                  <div class="title">留学迹路：马德里·熙遇记</div>
                </a>
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-02.jpg" alt="留学迹路微视频大赛优秀作品">
                  <div class="title">留学迹路微视频大赛优秀作品</div>
                </a>
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-03.jpg" alt="留学迹路：巴黎碎影">
                  <div class="title">留学迹路：巴黎碎影</div>
                </a>
                <a class="liuxue video-open" data-video="/public/video/video.webm">
                  <img src="/public/images/liuxue-04.jpg" alt="留学迹路：马德里·熙遇记">
                  <div class="title">留学迹路：马德里·熙遇记</div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <img src="/public/images/bg-liuxue-left.png" class="bg-img bg-left">
      <img src="/public/images/bg-liuxue-right.png" class="bg-img bg-right">
    </section>
    <section class="pingan-container" id="pingan">
      <div class="pingan-box max-center">
        <div class="title-module">
          <img src="/public/images/title-pingan.png" alt="平安行">
        </div>
        <div class="pingan-swiper swiper-container">
          <ul class="pingan-list swiper-wrapper">
            <li class="pingan-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/pingan-01.jpg" alt="2022留学版开学第一课">
              <div class="title">2022留学版开学第一课</div>
            </li>
            <li class="pingan-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/pingan-02.jpg" alt="平安留学宣传片">
              <div class="title">平安留学宣传片</div>
            </li>
            <li class="pingan-item swiper-slide video-open" data-video="/public/video/video.webm">
              <img src="/public/images/pingan-03.jpg" alt="平安留学宣传片">
              <div class="title">平安留学宣传片</div>
            </li>
  
          </ul>
          <div class="pingan-button-prev swiper-button-prev"></div>
          <div class="pingan-button-next swiper-button-next"></div>
        </div>
      </div>
    </section>
    <section class="safety-container module">
      <div class="safety-box max-center">
        <div class="title-box"><span>安全必读</span></div>
        <div class="safety-swiper swiper-container">
          <ul class="safety-list swiper-wrapper">
            <li class="safety-item swiper-slide">
              <a href="[list:outlink]" class="safety">
                <img src="/public/images/safety-01.jpg" alt="出国留学人员健康指南">
                <div class="title">出国留学人员健康指南</div>
              </a>
            </li>
            <li class="safety-item swiper-slide">
              <a href="[list:outlink]" class="safety">
                <img src="/public/images/safety-02.jpg" alt="平安留学百训">
                <div class="title">平安留学百训</div>
              </a>
            </li>
            <li class="safety-item swiper-slide">
              <a href="[list:outlink]" class="safety">
                <img src="/public/images/safety-03.jpg" alt="留学英国安全手册">
                <div class="title">留学英国安全手册</div>
              </a>
            </li>
            <li class="safety-item swiper-slide">
              <a href="[list:outlink]" class="safety">
                <img src="/public/images/safety-04.jpg" alt="留学美国安全手册">
                <div class="title">留学美国安全手册</div>
              </a>
            </li>
          </ul>
          <div class="safety-button-prev swiper-button-prev"></div>
          <div class="safety-button-next swiper-button-next"></div>
        </div>
      </div>
      <img src="/public/images/bg-safety.png" class="bg-img">
    </section>
    <section class="faq-container module">
      <div class="faq-box max-center">
        <div class="title-box">
          <span>留学常见问题解答</span>
        </div>
        <div class="faq-swiper-box">
          <div class="faq-swiper swiper-container">
            <ul class="faq-list swiper-wrapper">
              <li class="faq-item swiper-slide video-open" data-video="/public/video/video.webm">
                <div class="img">
                  <img src="/public/images/faq-01.jpg" alt="第一期-海外留学安全常见问题解答--疫情防护篇">
                </div>
                <div class="title">第一期-海外留学安全常见问题解答--疫情防护篇</div>
              </li>
              <li class="faq-item swiper-slide video-open" data-video="/public/video/video.webm">
                <div class="img">
                  <img src="/public/images/faq-02.jpg" alt="第二期-海外留学安全常见问题解答--法律法规篇">
                </div>
                <div class="title">第二期-海外留学安全常见问题解答--法律法规篇</div>
              </li>
              <li class="faq-item swiper-slide video-open" data-video="/public/video/video.webm">
                <div class="img">
                  <img src="/public/images/faq-03.jpg" alt="第三期-失踪失联篇">
                </div>
                <div class="title">第三期-失踪失联篇</div>
              </li>
              <li class="faq-item swiper-slide video-open" data-video="/public/video/video.webm">
                <div class="img">
                  <img src="/public/images/faq-01.jpg" alt="第四期-海外留学安全常见问题解答--疫情防护篇">
                </div>
                <div class="title">第四期-海外留学安全常见问题解答--疫情防护篇</div>
              </li>
              <li class="faq-item swiper-slide video-open" data-video="/public/video/video.webm">
                <div class="img">
                  <img src="/public/images/faq-02.jpg" alt="第五期-海外留学安全常见问题解答--法律法规篇">
                </div>
                <div class="title">第五期-海外留学安全常见问题解答--法律法规篇</div>
              </li>
              <li class="faq-item swiper-slide video-open" data-video="/public/video/video.webm">
                <div class="img">
                  <img src="/public/images/faq-03.jpg" alt="第六期-失踪失联篇">
                </div>
                <div class="title">第六期-失踪失联篇</div>
              </li>
            </ul>
          </div>
          <!-- <div class="faq-pagination swiper-pagination"></div> -->
          <div class="faq-button-prev swiper-button-prev"></div>
          <div class="faq-button-next swiper-button-next"></div>
        </div>
        <div class="line"></div>
      </div>
    </section>
    <section class="edu-container" id="edu">
      <div class="edu-box max-center">
        <div class="title-box">
          <div class="title">
            <img src="/public/images/title-edu.png" alt="教育展">
          </div>
        </div>
        <ul class="edu-list">
          <li class="edu-item video-open" data-video="/public/video/video.webm">
            <div class="img">
              <img src="/public/images/edu-01.jpg" alt="2022中国国际教育巡回展 · 平安留学云上展厅">
            </div>
            <div class="title">2022中国国际教育巡回展 · 平安留学云上展厅</div>
          </li>
          <li class="edu-item video-open" data-video="/public/video/video.webm">
            <div class="img">
              <img src="/public/images/edu-02.jpg" alt="平安留学大讲堂">
            </div>
            <div class="title">平安留学大讲堂</div>
          </li>
          <li class="edu-item video-open" data-video="/public/video/video.webm">
            <div class="img">
              <img src="/public/images/edu-03.jpg" alt="专家访谈">
            </div>
            <div class="title">专家访谈</div>
          </li>
          <li class="edu-item video-open" data-video="/public/video/video.webm">
            <div class="img">
              <img src="/public/images/edu-04.jpg" alt="海外留学安全技能培训">
            </div>
            <div class="title">海外留学安全技能培训</div>
          </li>
        </ul>
        <img src="/public/images/bg-edu.png" class="bg-img">
      </div>
    </section>
    <section class="qs-container">
      <a href="#外链跳转" class="max-center">
        <img src="/public/images/qs.jpg" alt="平安留学行前培训工作调查问卷">
      </a>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
      <!-- 引入公共弹窗 -->
      <%= require("html-loader!../common/alert/index.html") %>
        <script>
          window.liuxueList = [
            {
              id: 0,
              title: "2022留学生网络春晚",
              ico: "/public/images/liuxue-01.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 1,
              title: "留学迹路微视频大赛优秀作品",
              ico: "/public/images/liuxue-02.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 2,
              title: "留学迹路：巴黎碎影",
              ico: "/public/images/liuxue-03.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 3,
              title: "留学迹路：马德里·熙遇记",
              ico: "/public/images/liuxue-04.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 4,
              title: "2022留学生网络春晚2",
              ico: "/public/images/liuxue-01.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 5,
              title: "留学迹路微视频大赛优秀作品2",
              ico: "/public/images/liuxue-02.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 6,
              title: "留学迹路：巴黎碎影2",
              ico: "/public/images/liuxue-03.jpg",
              video: "/public/video/video.webm"
            },
            {
              id: 7,
              title: "留学迹路：马德里·熙遇记2",
              ico: "/public/images/liuxue-04.jpg",
              video: "/public/video/video.webm"
            },
          ]
        </script>
</body>

</html>