<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="note-container">
      <div class="note-box max-center">
        <div class="title">
          弘扬科学家精神<br>
          传承留学报国传统
        </div>
        <div class="desc">
          为进一步强化留学人员思想政治引领，厚植爱国主义情怀，增强留学人员对中华民族的自豪感，责任感和使命感，为做好新时代人才工作提供精神引领和思想保证，在教育部国际司指导下，教育部留学服务中心与新华网联合开展以“弘扬科学家精神，传承留学报国传统”为主题的视频作品征集活动。
        </div>
      </div>
    </section>
    <section class="spirit-container module">
      <div class="spirit-box max-center">
        <div class="title-box">科学家精神</div>
        <div class="spirit-list">
          <a class="spirit-item">
            <div class="title">胸怀祖国、服务人民的爱国精神</div>
            <img src="/public/images/spirit-01.jpg" class="bg-img" alt="胸怀祖国、服务人民的爱国精神">
          </a>
          <a class="spirit-item">
            <div class="title">勇攀高峰、敢为人先的创新精神</div>
            <img src="/public/images/spirit-02.jpg" class="bg-img" alt="勇攀高峰、敢为人先的创新精神">
          </a>
          <a class="spirit-item">
            <div class="title">追求真理、严谨治学的求实精神</div>
            <img src="/public/images/spirit-03.jpg" class="bg-img" alt="追求真理、严谨治学的求实精神">
          </a>
          <a class="spirit-item">
            <div class="title">淡泊名利、潜心研究的奉献精神</div>
            <img src="/public/images/spirit-04.jpg" class="bg-img" alt="淡泊名利、潜心研究的奉献精神">
          </a>
          <a class="spirit-item">
            <div class="title">集智攻关、团结协作的协同精神</div>
            <img src="/public/images/spirit-05.jpg" class="bg-img" alt="集智攻关、团结协作的协同精神">
          </a>
          <a class="spirit-item">
            <div class="title">甘为人梯、奖掖后进的育人精神</div>
            <img src="/public/images/spirit-06.jpg" class="bg-img" alt="甘为人梯、奖掖后进的育人精神">
          </a>
        </div>
        <img src="/public/images/bg-spirit.png" class="bg-img">
      </div>
      
    </section>
    <section class="recommend-container module">
      <div class="recommend-box max-center">
        <div class="title-box">重点推荐</div>
        <div class="recommend-cont">
          <div class="recommend-swiper swiper-container">
            <ul class="recommend-list swiper-wrapper">
              <li class="recommend-item swiper-slide video-open" data-video="/public/video/video.webm">
                <img src="/public/images/recommend-img.jpg" alt="初心 梦想 育人">
              </li>
              <li class="recommend-item swiper-slide video-open" data-video="/public/video/video.webm">
                <img src="/public/images/recommend-img.jpg" alt="初心 梦想 育人">
              </li>
              <li class="recommend-item swiper-slide video-open" data-video="/public/video/video.webm">
                <img src="/public/images/recommend-img.jpg" alt="初心 梦想 育人">
              </li>
            </ul>
            <div class="recommend-button-prev swiper-button-prev"></div>
            <div class="recommend-button-next swiper-button-next"></div>
          </div>
          <div class="text text-swiper swiper-container">
           <ul class="text-list swiper-wrapper">
            <li class="text-item swiper-slide">
              <div class="title">赵洱岽：初心 梦想 育人</div>
              <div class="cont">
                回顾哈佛大学留学经历，不忘学为人师初心。视频主讲人秉持北京理工大学“德以明理、学以精工”的校训和徐特立老校长“德育为先”的教育理念，讲述自身海外学习经历、阐释报效祖国梦想、论述教书育人使命。阐述回国以来以“育心明德、道术相济”为目标，建构“通专融合”“工管协同”的人才培养模式，培育高校学子通识化沟通素养；基于管理科学理论，建设课程思政示范课程、国家一流课程等系列精品课程的心路历程，有效开展“为谁培养人、培养什么人、如何培养人”的实际行动。
              </div>
            </li>
            <li class="text-item swiper-slide">
              <div class="title">赵洱岽：初心 梦想 育人</div>
              <div class="cont">
                回顾哈佛大学留学经历，不忘学为人师初心。视频主讲人秉持北京理工大学“德以明理、学以精工”的校训和徐特立老校长“德育为先”的教育理念，讲述自身海外学习经历、阐释报效祖国梦想、论述教书育人使命。阐述回国以来以“育心明德、道术相济”为目标，建构“通专融合”“工管协同”的人才培养模式，培育高校学子通识化沟通素养；基于管理科学理论，建设课程思政示范课程、国家一流课程等系列精品课程的心路历程，有效开展“为谁培养人、培养什么人、如何培养人”的实际行动。
              </div>
            </li>
            <li class="text-item swiper-slide">
              <div class="title">赵洱岽：初心 梦想 育人</div>
              <div class="cont">
                回顾哈佛大学留学经历，不忘学为人师初心。视频主讲人秉持北京理工大学“德以明理、学以精工”的校训和徐特立老校长“德育为先”的教育理念，讲述自身海外学习经历、阐释报效祖国梦想、论述教书育人使命。阐述回国以来以“育心明德、道术相济”为目标，建构“通专融合”“工管协同”的人才培养模式，培育高校学子通识化沟通素养；基于管理科学理论，建设课程思政示范课程、国家一流课程等系列精品课程的心路历程，有效开展“为谁培养人、培养什么人、如何培养人”的实际行动。
              </div>
            </li>
           </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="video-container module" id="video-page">
      <div class="video-box max-center">
        <div class="title-box">视频展播</div>
        <ul class="video-list">
          <li class="video-item" @click="videoOpen(item.video)" v-for="item in videoList" :key="item.id">
            <div class="img">
              <img :src="item.ico" :alt="item.title">
            </div>
            <div class="text">
              <div class="title">{{item.title}}</div>
              <div class="name">{{item.name}}</div>
              <div class="desc">{{item.desc}}</div>
            </div>
          </li>
        </ul>
        <div class="more-box" v-if="videoList.length < total">
          <a class="more" @click="showMore"> - 查看更多 - </a>
        </div>
        <div class="more-box" v-else>
          <a class="more" style="cursor: no-drop;"> - 暂无更多 - </a>
        </div>
        <!-- <div class="pagination">
          <a class="page-num" :class="{on:i === index}" v-for="(num, i) in limit" :key="num"
            @click="changeIndex(i)">{{num}}</a>
        </div> -->
        <img src="/public/images/bg-video.png" class="bg-img">
      </div>
    </section>
    <section class="school-container module" id="school-page">
      <div class="school-box max-center">
        <div class="title-box">院校展示</div>
        <ul class="school-list">
          <li class="school-item" @click="videoOpen({type:item.type,video:item.video,img:item.ico})" v-for="item in schoolList[index]" :key="item.id">
            <div class="img">
              <img :src="item.ico" :alt="item.title">
            </div>
            <div class="title">{{item.title}}</div>
          </li>
        </ul>
        <div class="pagination">
          <a class="page-num" :class="{on:i === index}" v-for="(num, i) in limit" :key="num"
            @click="changeIndex(i)">{{num}}</a>
        </div>
        <img src="/public/images/bg-school.png" class="bg-img">
      </div>
    </section>
    <section class="team-container module">
      <div class="team-box max-center">
        <div class="title-box">名师介绍</div>
        <div class="team-swiper-box">
          <div class="team-swiper swiper-container">
            <ul class="team-list swiper-wrapper">
              <li class="team-item swiper-slide">
                <div class="img">
                  <img src="/public/images/team-01.png" alt="赵洱岽">
                </div>
                <div class="text">
                  <div class="title">赵洱岽</div>
                  <div class="desc">北京理工大学 管理与经济学院 教授、博士生导师</div>
                </div>
              </li>
              <li class="team-item swiper-slide">
                <div class="img">
                  <img src="/public/images/team-02.png" alt="刘钟惠">
                </div>
                <div class="text">
                  <div class="title">刘钟惠</div>
                  <div class="desc">汕头大学 长江新闻与传播学院 博士、讲师</div>
                </div>
              </li>
              <li class="team-item swiper-slide">
                <div class="img">
                  <img src="/public/images/team-03.png" alt="董林">
                </div>
                <div class="text">
                  <div class="title">董林</div>
                  <div class="desc">上海工程技术大学机械制造系 副教授、硕士生导师</div>
                </div>
              </li>
              <li class="team-item swiper-slide">
                <div class="img">
                  <img src="/public/images/team-04.png" alt="马昌前">
                </div>
                <div class="text">
                  <div class="title">马昌前</div>
                  <div class="desc">中国地质大学（武汉） 地球物质科学系 教授、博士生导师</div>
                </div>
              </li>
            </ul>
          </div>
          <div class="team-button-prev swiper-button-prev"></div>
          <div class="team-button-next swiper-button-next"></div>
        </div>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
    <!-- 引入公共弹窗 -->
    <%= require("html-loader!../common/alert/index.html") %>
      <script>
        window.videoList = [
          {
            id: 0,
            title: "同舟共济 志存高远",
            name: "吴志强|同济大学",
            ico: "/public/images/video-01.jpg",
            desc: "视频多角度、全方位展示了吴志强青年时期在同济求学埋下世博种子、赴德留学心系祖国汲取世博知识经验、学成归国后勇担世博会总规划师重任，成就精彩上海世博盛会的经历。",
            video:"/public/video/video.webm"
          },
          {
            id: 1,
            title: "秉烛接力 照亮前程",
            name: "宁津生  李德仁  陈俊勇  刘经南  张祖勋  龚健雅|武汉大学",
            ico: "/public/images/video-02.jpg",
            desc: "“测绘三杰”（夏坚白、王之卓及陈永龄），在学成回国后，于战火纷飞中靠书信合编了中国第一套大学测绘教材。宁津生和几位院士接过了老师的事业，几十年间将...",
            video:"/public/video/video.webm"
          },
          {
            id: 2,
            title: "鹏归万里图新志 矢志不渝攀高峰",
            name: "白正宇|河南师范大学",
            ico: "/public/images/video-03.jpg",
            desc: "2017年，在加拿大两年的海外深造后，白正宇毅然回国后到母校河南师范大学从事教学科研工作，为河南省开展绿色化学材料领域的前沿技术发展和国际合作交流提供了重要支撑作用。",
            video:"/public/video/video.webm"
          },
          {
            id: 3,
            title: "留学报国的最美教师",
            name: "叶子飘|井冈山大学",
            ico: "/public/images/video-04.jpg",
            desc: "情牵故土，淡泊名利；潜心科研，勇攀高峰。灯下常伏书卷里，案头久泡网评前。敢凭义胆登天月，为索真知探海渊。这是科研人叶子飘教授的真实写照。",
            video:"/public/video/video.webm"
          },
          {
            id: 4,
            title: "同舟共济 志存高远2",
            name: "吴志强|同济大学",
            ico: "/public/images/video-01.jpg",
            desc: "视频多角度、全方位展示了吴志强青年时期在同济求学埋下世博种子、赴德留学心系祖国汲取世博知识经验、学成归国后勇担世博会总规划师重任，成就精彩上海世博盛会的经历。",
            video:"/public/video/video.webm"
          },
          {
            id: 5,
            title: "秉烛接力 照亮前程2",
            name: "宁津生  李德仁  陈俊勇  刘经南  张祖勋  龚健雅|武汉大学",
            ico: "/public/images/video-02.jpg",
            desc: "“测绘三杰”（夏坚白、王之卓及陈永龄），在学成回国后，于战火纷飞中靠书信合编了中国第一套大学测绘教材。宁津生和几位院士接过了老师的事业，几十年间将...",
            video:"/public/video/video.webm"
          },
          {
            id: 6,
            title: "鹏归万里图新志 矢志不渝攀高峰2",
            name: "白正宇|河南师范大学",
            ico: "/public/images/video-03.jpg",
            desc: "2017年，在加拿大两年的海外深造后，白正宇毅然回国后到母校河南师范大学从事教学科研工作，为河南省开展绿色化学材料领域的前沿技术发展和国际合作交流提供了重要支撑作用。",
            video:"/public/video/video.webm"
          },
          {
            id: 7,
            title: "留学报国的最美教师2",
            name: "叶子飘|井冈山大学",
            ico: "/public/images/video-04.jpg",
            desc: "情牵故土，淡泊名利；潜心科研，勇攀高峰。灯下常伏书卷里，案头久泡网评前。敢凭义胆登天月，为索真知探海渊。这是科研人叶子飘教授的真实写照。",
            video:"/public/video/video.webm"
          },
          {
            id: 8,
            title: "同舟共济 志存高远3",
            name: "吴志强|同济大学",
            ico: "/public/images/video-01.jpg",
            desc: "视频多角度、全方位展示了吴志强青年时期在同济求学埋下世博种子、赴德留学心系祖国汲取世博知识经验、学成归国后勇担世博会总规划师重任，成就精彩上海世博盛会的经历。",
            video:"/public/video/video.webm"
          },
          {
            id: 9,
            title: "秉烛接力 照亮前程3",
            name: "宁津生  李德仁  陈俊勇  刘经南  张祖勋  龚健雅|武汉大学",
            ico: "/public/images/video-02.jpg",
            desc: "“测绘三杰”（夏坚白、王之卓及陈永龄），在学成回国后，于战火纷飞中靠书信合编了中国第一套大学测绘教材。宁津生和几位院士接过了老师的事业，几十年间将...",
            video:"/public/video/video.webm"
          },
          {
            id: 10,
            title: "鹏归万里图新志 矢志不渝攀高峰3",
            name: "白正宇|河南师范大学",
            ico: "/public/images/video-03.jpg",
            desc: "2017年，在加拿大两年的海外深造后，白正宇毅然回国后到母校河南师范大学从事教学科研工作，为河南省开展绿色化学材料领域的前沿技术发展和国际合作交流提供了重要支撑作用。",
            video:"/public/video/video.webm"
          },
          {
            id: 11,
            title: "留学报国的最美教师3",
            name: "叶子飘|井冈山大学",
            ico: "/public/images/video-04.jpg",
            desc: "情牵故土，淡泊名利；潜心科研，勇攀高峰。灯下常伏书卷里，案头久泡网评前。敢凭义胆登天月，为索真知探海渊。这是科研人叶子飘教授的真实写照。",
            video:"/public/video/video.webm"
          },
        ]
        window.schoolList = [
          {
            id: 0,
            title: "南京大学1",
            ico: "/public/images/school-01.jpg",
            video:"/public/video/video.webm",
            type:"视频" //此处填入内容为【视频/图片】,该注释需要删除
          },
          {
            id: 1,
            title: "西北农林科技大学2",
            ico: "/public/images/school-02.jpg",
            video:"/public/video/video.webm",
            type:"图片"
          },
          {
            id: 2,
            title: "中国地质大学（武汉）3",
            ico: "/public/images/school-03.jpg",
            video:"/public/video/video.webm",
            type:"图片"
          },
          {
            id: 3,
            title: "北京印刷学院4",
            ico: "/public/images/school-04.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 4,
            title: "中山大学5",
            ico: "/public/images/school-05.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 5,
            title: "武汉大学6",
            ico: "/public/images/school-06.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 6,
            title: "南京大学7",
            ico: "/public/images/school-01.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 7,
            title: "西北农林科技大学8",
            ico: "/public/images/school-02.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 8,
            title: "中国地质大学（武汉）9",
            ico: "/public/images/school-03.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 9,
            title: "北京印刷学院10",
            ico: "/public/images/school-04.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 10,
            title: "中山大学11",
            ico: "/public/images/school-05.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 11,
            title: "武汉大学12",
            ico: "/public/images/school-06.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 12,
            title: "南京大学13",
            ico: "/public/images/school-01.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
          {
            id: 13,
            title: "西北农林科技大学14",
            ico: "/public/images/school-02.jpg",
            video:"/public/video/video.webm",
            type:"视频"
          },
  
        ]
        
      </script>
</body>

</html>